/* RESET */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 19, ../sass/dpstyles.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 29, ../sass/dpstyles.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 32, ../sass/dpstyles.scss */
body {
  line-height: 1;
  height: 100%;
}

/* line 37, ../sass/dpstyles.scss */
ol, ul {
  list-style: none;
}

/* line 40, ../sass/dpstyles.scss */
blockquote, q {
  quotes: none;
}

/* line 44, ../sass/dpstyles.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 48, ../sass/dpstyles.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CLEARFIX */
/* line 55, ../sass/dpstyles.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 59, ../sass/dpstyles.scss */
.clearfix:after {
  clear: both;
}

/* line 62, ../sass/dpstyles.scss */
.clearfix {
  *zoom: 1;
}

/* SASS VARIABLES */
/* GENERAL STYLES */
/* line 85, ../sass/dpstyles.scss */
a {
  text-decoration: none;
  outline: none;
}

/* line 90, ../sass/dpstyles.scss */
h1 {
  font-size: 3.4375em;
  font-family: "Intro Bold", sans-serif;
  font-weight: normal;
  color: #fefefa;
}

/* line 96, ../sass/dpstyles.scss */
h1.tagline {
  position: absolute;
  top: 47%;
  width: 100%;
  text-align: center;
  letter-spacing: .0625em;
  text-shadow: 0 4px 11px black;
}

/* line 105, ../sass/dpstyles.scss */
h1 span {
  color: #e31f2d;
}

/* line 109, ../sass/dpstyles.scss */
h2 {
  font-size: 3.4375em;
  font-family: "Intro Book", sans-serif;
  font-weight: normal;
  line-height: 1.375em;
  margin-bottom: 50px;
}

/* line 116, ../sass/dpstyles.scss */
h3 {
  font-size: 1.375em;
  font-family: "Intro Bold", sans-serif;
  font-weight: normal;
  letter-spacing: .0625em;
  line-height: 1.5em;
}

/* line 123, ../sass/dpstyles.scss */
h4 {
  font-size: 1.125em;
  font-family: "ITC Franklin Gothic Std";
  font-weight: normal;
}

/* line 128, ../sass/dpstyles.scss */
h5 {
  font-size: 1em;
  font-family: "ITC Franklin Gothic Std";
  font-weight: normal;
  line-height: 1.5em;
}

/* line 135, ../sass/dpstyles.scss */
h6 {
  font-size: 1em;
  font-family: "Intro Bold", sans-serif;
  font-weight: normal;
  line-height: 1.5em;
}

/* line 141, ../sass/dpstyles.scss */
.bodycopy {
  font-size: 1.5em;
  font-family: "Intro Book", sans-serif;
  font-weight: normal;
  letter-spacing: .0625em;
  line-height: 1.875em;
}

/* line 149, ../sass/dpstyles.scss */
.subcopy {
  font-size: .9375em;
  font-family: Verdana, sans-serif;
  font-weight: normal;
  line-height: 1.5em;
  margin-bottom: 1.5em;
}

/* line 156, ../sass/dpstyles.scss */
.subcopy:last-of-type {
  margin-bottom: 0px;
}

/* line 160, ../sass/dpstyles.scss */
.formcopy {
  font-size: .875em;
  font-family: "Intro Light", sans-serif;
  font-weight: normal;
}

/* line 165, ../sass/dpstyles.scss */
.right {
  float: right;
}

/* large color section styles */
/* line 171, ../sass/dpstyles.scss */
.box {
  padding: 80px 0;
}

/* SPECIFIC STYLES */
/* line 181, ../sass/dpstyles.scss */
.container {
  margin: 0 auto;
}

/* z-index container for revealing footer */
/* line 187, ../sass/dpstyles.scss */
.zindexContainer {
  background: url("../images/debut_light.png") repeat 0 0;
  margin-bottom: 90px;
  position: relative;
  z-index: 3;
}

/* line 194, ../sass/dpstyles.scss */
.whiteBox {
  background: #fefefa;
  padding: 20px;
  color: #58595b;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

/* line 203, ../sass/dpstyles.scss */
.about .whiteBox {
  box-shadow: 5px 5px 0px #35a7a2;
}

/* line 207, ../sass/dpstyles.scss */
.reviews .whiteBox {
  box-shadow: 5px 5px 0px #779630;
}

/* line 211, ../sass/dpstyles.scss */
.news .whiteBox {
  box-shadow: 5px 5px 0px #8fb43a;
}

/* line 215, ../sass/dpstyles.scss */
.show {
  display: none;
}

/* slideshow styles */
/* line 221, ../sass/dpstyles.scss */
#slideshow {
  position: relative;
  height: 600px;
  /* arbritary height to give form!!!! */
  width: 100%;
  overflow: hidden;
}

/* line 228, ../sass/dpstyles.scss */
#slideshow > div {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

/* line 235, ../sass/dpstyles.scss */
.flexslider .slides > li {
  background-size: cover;
  background-position: center center;
  height: 100%;
}

/* navigation styles */
/* line 243, ../sass/dpstyles.scss */
header {
  position: relative;
  background-color: #fefefa;
  width: 100%;
  z-index: 100;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

/* line 253, ../sass/dpstyles.scss */
nav {
  position: relative;
  background-color: #fefefa;
  padding: .5em;
  box-shadow: 0em 9px 5px 1px rgba(0, 0, 0, 0.1);
}
/* line 261, ../sass/dpstyles.scss */
nav h1.dp_logo {
  text-indent: -9999px;
  margin: 10px 0;
  background: url("../images/logo.png") 0 0 no-repeat;
  float: left;
  height: 50px;
  width: 236px;
  /*		REMOVE COLOR WHEN BG IMAGE IS IMPLEMENTED!!!... WILL DEFAULT TO WHITE
  
  */
}
/* line 272, ../sass/dpstyles.scss */
nav ul {
  float: right;
  padding: 1.6em 0 0 0;
}
/* line 275, ../sass/dpstyles.scss */
nav ul li {
  display: inline-block;
}
/* line 279, ../sass/dpstyles.scss */
nav ul a {
  padding: 1em;
  color: #e31f2d;
}

/* line 286, ../sass/dpstyles.scss */
.stuck {
  position: fixed;
  left: 0;
  top: 0;
}

/* introduction section styles */
/* line 295, ../sass/dpstyles.scss */
.introduction {
  background: url("../images/redPattern.png") 628px 51px no-repeat #e31f2d;
  color: #fefefa;
}

/* line 300, ../sass/dpstyles.scss */
.introduction h2 {
  margin-bottom: 20px;
}

/* wholesale flavors section styles */
/* line 306, ../sass/dpstyles.scss */
.wholesaleDetails {
  color: #e31f2d;
  padding-top: 30px;
}

/* line 311, ../sass/dpstyles.scss */
.wholesaleButton {
  display: block;
  background: #dedede;
  text-align: center;
  padding: 15px 10px 10px 10px;
  color: #fefefa;
  margin: 19px auto;
  width: 80%;
}

/* line 321, ../sass/dpstyles.scss */
.pieIcon {
  width: 93px;
  height: 93px;
  margin: 0 auto 30px;
  display: block;
}

/* line 329, ../sass/dpstyles.scss */
.flavor_module {
  text-align: center;
  color: #58595b;
  min-height: 19em;
}

/* line 335, ../sass/dpstyles.scss */
.flavor_module:nth-of-type(4) {
  clear: left;
}

/* farmers market flavors section styles */
/* line 341, ../sass/dpstyles.scss */
.marketFlavors {
  background: #dedede;
  color: #58595b;
}

/* about section styles */
/* line 348, ../sass/dpstyles.scss */
.about {
  background: #41c3be;
  color: #fefefa;
}

/* line 353, ../sass/dpstyles.scss */
.about h2 {
  text-align: center;
}

/* line 357, ../sass/dpstyles.scss */
.about .icon {
  display: block;
  height: 70px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 5em;
}

/* green section styles */
/* news section styles */
/* line 372, ../sass/dpstyles.scss */
.video {
  margin-bottom: 20px;
}

/* line 376, ../sass/dpstyles.scss */
.video iframe {
  width: 100%;
  height: 320px;
}

/* line 381, ../sass/dpstyles.scss */
.fb-like-box {
  height: 300px;
  border: 1px solid fuchsia;
}

/* line 386, ../sass/dpstyles.scss */
.news {
  background: url("../images/greenPattern.png") -200px 74px no-repeat #a3c750;
  color: #fefefa;
}

/* line 391, ../sass/dpstyles.scss */
.news h2 a {
  color: #fefefa;
  text-decoration: underline;
}

/* line 396, ../sass/dpstyles.scss */
.news article {
  color: #58595b;
  margin-bottom: 20px;
}

/* line 401, ../sass/dpstyles.scss */
.news h6 {
  text-transform: uppercase;
  color: #8fb43a;
}

/* line 406, ../sass/dpstyles.scss */
.news .subcopy a {
  text-transform: uppercase;
  text-decoration: underline;
  color: #58595b;
}

/* reviews/praise section styles */
/* line 414, ../sass/dpstyles.scss */
.reviews {
  background: #8fb43a;
  color: #fefefa;
}

/* line 419, ../sass/dpstyles.scss */
.reviews h2 {
  text-align: center;
}

/* line 423, ../sass/dpstyles.scss */
.reviews span {
  color: #8fb43a;
  font-family: "Intro Bold", sans-serif;
  font-size: 1.5em;
}

/* line 429, ../sass/dpstyles.scss */
.reviews .subcopy {
  margin-bottom: 1.5em;
}

/* line 433, ../sass/dpstyles.scss */
.author {
  color: #8fb43a;
}

/* find us section styles */
/* line 442, ../sass/dpstyles.scss */
.findUs h2 {
  text-align: center;
  margin-bottom: 0px;
  color: #ec008c;
}

/* line 448, ../sass/dpstyles.scss */
.findUs h5 {
  text-align: center;
  color: #58595b;
}

/* map styles */
/* line 456, ../sass/dpstyles.scss */
.map {
  height: 500px;
}

/* line 460, ../sass/dpstyles.scss */
#map-canvas {
  height: 100%;
}

/* vendor logo links section styles */
/* line 465, ../sass/dpstyles.scss */
.logoLinks {
  height: 44px;
}

/* line 469, ../sass/dpstyles.scss */
.wholeFoods {
  margin-right: 68px;
  height: 60px;
  width: 75px;
  display: block;
  float: right;
  text-align: left;
  background: url("../images/wholefoods2.png") 0 0 no-repeat;
  text-indent: -9999px;
}

/* line 480, ../sass/dpstyles.scss */
.wholeFoods:hover {
  background-position: -75px 0;
}

/* line 484, ../sass/dpstyles.scss */
.ashland {
  margin-right: 68px;
  height: 60px;
  width: 75px;
  display: block;
  float: right;
  text-align: left;
  background: url("../images/wholefoods2.png") 0 0 no-repeat;
  text-indent: -9999px;
}

/* line 499, ../sass/dpstyles.scss */
.logoLast {
  margin-right: 0;
}

/* farmers market information section styles */
/* line 507, ../sass/dpstyles.scss */
.farmersMarket {
  background: #dedede;
  color: #58595b;
  position: relative;
}

/* line 513, ../sass/dpstyles.scss */
.farmersMarket a {
  text-decoration: underline;
  color: #58595b;
}

/* line 519, ../sass/dpstyles.scss */
.marketPhoto {
  background: url("../images/market_2.jpg") no-repeat right 0;
  width: 44%;
  position: absolute;
  left: 0;
  height: 100%;
  background-size: cover;
}

/* line 528, ../sass/dpstyles.scss */
.marketRight {
  padding: 80px 0;
}

/* contact information section styles */
/* line 534, ../sass/dpstyles.scss */
.contact {
  background: url("../images/redPattern.png") 590px 70px no-repeat #e31f2d;
  color: #fefefa;
  clear: both;
}

/* form styles */
/* line 542, ../sass/dpstyles.scss */
.contact form * {
  color: #fefefa;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

/* line 549, ../sass/dpstyles.scss */
form {
  font-size: .8125em;
  max-width: 425px;
}
/* line 554, ../sass/dpstyles.scss */
form .form-top {
  position: relative;
  margin: 7px 0 16px 0;
}
/* line 558, ../sass/dpstyles.scss */
form input {
  background-color: #c11824;
  padding: 5px;
  width: 49%;
  font-family: Verdana, sans-serif;
  border: 1px solid #c11824;
  font-size: .9375em;
  -webkit-appearance: none;
}
/* line 567, ../sass/dpstyles.scss */
form textarea {
  background-color: #c11824;
  width: 100%;
  margin-top: 1px;
  min-height: 200px;
  font-family: Verdana, sans-serif;
  border: 1px solid #c11824;
  font-size: .9375em;
  padding: 5px;
  -webkit-appearance: none;
}
/* line 579, ../sass/dpstyles.scss */
form input[type=submit], form #contact form input[type=reset] {
  width: 88px;
  margin-top: 16px;
  -webkit-appearance: none;
}
/* line 585, ../sass/dpstyles.scss */
form input[type=submit]:active, form .contact form input[type=reset]:active {
  background: #dedede;
  color: #58595b;
}

/* footer styles */
/* line 592, ../sass/dpstyles.scss */
.footer {
  text-align: center;
  padding: 80px 0 30px 0;
  background: url("../images/debut_light.png") repeat 0 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  color: #58595b;
}

/* line 604, ../sass/dpstyles.scss */
.footer a {
  color: #58595b;
}

/*
	Layout
*/
/* line 619, ../sass/dpstyles.scss */
.col-1 {
  width: 6.33333%;
}

/* line 623, ../sass/dpstyles.scss */
.push-1 {
  margin-left: 8.33333%;
}

/* line 619, ../sass/dpstyles.scss */
.col-2 {
  width: 14.66667%;
}

/* line 623, ../sass/dpstyles.scss */
.push-2 {
  margin-left: 16.66667%;
}

/* line 619, ../sass/dpstyles.scss */
.col-3 {
  width: 23%;
}

/* line 623, ../sass/dpstyles.scss */
.push-3 {
  margin-left: 25%;
}

/* line 619, ../sass/dpstyles.scss */
.col-4 {
  width: 31.33333%;
}

/* line 623, ../sass/dpstyles.scss */
.push-4 {
  margin-left: 33.33333%;
}

/* line 619, ../sass/dpstyles.scss */
.col-5 {
  width: 39.66667%;
}

/* line 623, ../sass/dpstyles.scss */
.push-5 {
  margin-left: 41.66667%;
}

/* line 619, ../sass/dpstyles.scss */
.col-6 {
  width: 48%;
}

/* line 623, ../sass/dpstyles.scss */
.push-6 {
  margin-left: 50%;
}

/* line 619, ../sass/dpstyles.scss */
.col-7 {
  width: 56.33333%;
}

/* line 623, ../sass/dpstyles.scss */
.push-7 {
  margin-left: 58.33333%;
}

/* line 619, ../sass/dpstyles.scss */
.col-8 {
  width: 64.66667%;
}

/* line 623, ../sass/dpstyles.scss */
.push-8 {
  margin-left: 66.66667%;
}

/* line 619, ../sass/dpstyles.scss */
.col-9 {
  width: 73%;
}

/* line 623, ../sass/dpstyles.scss */
.push-9 {
  margin-left: 75%;
}

/* line 619, ../sass/dpstyles.scss */
.col-10 {
  width: 81.33333%;
}

/* line 623, ../sass/dpstyles.scss */
.push-10 {
  margin-left: 83.33333%;
}

/* line 619, ../sass/dpstyles.scss */
.col-11 {
  width: 89.66667%;
}

/* line 623, ../sass/dpstyles.scss */
.push-11 {
  margin-left: 91.66667%;
}

/* line 619, ../sass/dpstyles.scss */
.col-12 {
  width: 98%;
}

/* line 623, ../sass/dpstyles.scss */
.push-12 {
  margin-left: 100%;
}

/* line 628, ../sass/dpstyles.scss */
.column {
  margin: 0 1%;
  float: left;
}
@media screen and (max-width: 480px) {
  /* line 628, ../sass/dpstyles.scss */
  .column {
    clear: both;
    width: auto;
    float: none;
  }
}

@media screen and (max-width: 480px) {
  /* line 641, ../sass/dpstyles.scss */
  .hide {
    display: none;
  }

  /* line 645, ../sass/dpstyles.scss */
  h2 {
    text-align: left;
    font-size: 2em;
  }

  /* line 650, ../sass/dpstyles.scss */
  .introduction h2 {
    margin-bottom: .6em;
  }

  /* line 654, ../sass/dpstyles.scss */
  h3 {
    font-size: 1.2em;
  }

  /* line 659, ../sass/dpstyles.scss */
  h5 {
    font-size: .9em;
  }

  /* line 663, ../sass/dpstyles.scss */
  .bodycopy {
    font-size: .9em;
  }

  /* line 667, ../sass/dpstyles.scss */
  .subcopy {
    font-size: .85em;
  }

  /* line 671, ../sass/dpstyles.scss */
  nav {
    text-align: center;
  }

  /* line 675, ../sass/dpstyles.scss */
  nav ul {
    float: none;
    padding: 20px 0 17px 0;
  }

  /* line 680, ../sass/dpstyles.scss */
  nav h6 {
    font-size: 1em;
  }

  /* line 684, ../sass/dpstyles.scss */
  nav li {
    padding: 0 1%;
  }

  /* line 688, ../sass/dpstyles.scss */
  nav ul a {
    padding: 0;
  }

  /* line 692, ../sass/dpstyles.scss */
  .box {
    padding: 50px 0;
  }

  /* line 696, ../sass/dpstyles.scss */
  .pieIcon {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  /* line 702, ../sass/dpstyles.scss */
  .flavor_module h6 {
    padding-top: 12px;
    text-align: left;
  }

  /* line 707, ../sass/dpstyles.scss */
  .flavor_module {
    min-height: 0px;
  }

  /* line 711, ../sass/dpstyles.scss */
  .wholesaleButton {
    width: 92%;
  }

  /* line 715, ../sass/dpstyles.scss */
  .about h2 {
    margin-bottom: 37px;
  }

  /* line 719, ../sass/dpstyles.scss */
  .about {
    text-align: center;
  }

  /* line 723, ../sass/dpstyles.scss */
  .about .icon {
    float: none;
    clear: none;
    height: 70px;
    display: inline-block;
    margin-bottom: 2em;
  }

  /* line 731, ../sass/dpstyles.scss */
  .about .subcopy {
    text-align: left;
  }

  /* line 735, ../sass/dpstyles.scss */
  .logoLinks {
    display: none;
  }

  /* line 739, ../sass/dpstyles.scss */
  .marketRight {
    padding: 50px 0;
  }

  /* line 743, ../sass/dpstyles.scss */
  .form {
    padding-bottom: 20px;
  }

  /* line 747, ../sass/dpstyles.scss */
  .footer {
    padding: 80px 10px 25px 10px;
  }

  /* line 751, ../sass/dpstyles.scss */
  .zindexContainer {
    margin-bottom: 110px;
  }

  /* line 755, ../sass/dpstyles.scss */
  .show {
    display: block;
    margin: 0 auto;
    background: #fefefa;
    padding-top: 20px;
  }

  /* line 762, ../sass/dpstyles.scss */
  .show img {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  /* line 772, ../sass/dpstyles.scss */
  .flexslider {
    display: none;
  }

  /* line 776, ../sass/dpstyles.scss */
  .dp_logo {
    display: none;
  }

  /* line 780, ../sass/dpstyles.scss */
  .show {
    display: block;
    margin: 0 auto;
    background: #fefefa;
    padding-top: 20px;
  }

  /* line 787, ../sass/dpstyles.scss */
  .show img {
    width: 100%;
  }

  /* line 791, ../sass/dpstyles.scss */
  nav {
    text-align: center;
  }

  /* line 795, ../sass/dpstyles.scss */
  nav ul {
    float: none;
    padding: 20px 0 17px 0;
  }

  /* line 800, ../sass/dpstyles.scss */
  nav h6 {
    font-size: 1em;
  }

  /* line 804, ../sass/dpstyles.scss */
  nav li {
    padding: 0 1%;
  }

  /* line 808, ../sass/dpstyles.scss */
  nav ul a {
    padding: 0;
  }
}
@media screen and (max-width: 700px) {
  /* line 817, ../sass/dpstyles.scss */
  nav {
    text-align: center;
  }

  /* line 821, ../sass/dpstyles.scss */
  nav ul {
    float: none;
  }

  /* line 826, ../sass/dpstyles.scss */
  nav li {
    padding: 0 1%;
  }

  /* line 830, ../sass/dpstyles.scss */
  nav ul a {
    padding: 0;
  }

  /* line 834, ../sass/dpstyles.scss */
  .flavor_module {
    clear: both;
    flavors: none;
    width: 75%;
    min-height: 0px;
  }

  /* line 842, ../sass/dpstyles.scss */
  .wholesaleFlavors .column {
    float: none;
    margin: 0 auto;
  }

  /* line 847, ../sass/dpstyles.scss */
  .contact .column {
    float: none;
    width: auto;
  }

  /* line 852, ../sass/dpstyles.scss */
  .form {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 820px) {
  /* line 861, ../sass/dpstyles.scss */
  .pieIcon {
    margin-top: 20px;
  }

  /* line 867, ../sass/dpstyles.scss */
  .footer {
    padding: 80px 10px 25px 10px;
  }

  /* line 871, ../sass/dpstyles.scss */
  .zindexContainer {
    margin-bottom: 110px;
  }
}
@media screen and (max-width: 940px) {
  /* line 878, ../sass/dpstyles.scss */
  .flavor_module .subcopy {
    text-align: left;
  }

  /* line 882, ../sass/dpstyles.scss */
  .pieIcon {
    margin-top: 20px;
  }

  /* line 886, ../sass/dpstyles.scss */
  .reviews article {
    float: none;
    clear: both;
    width: auto;
    margin-bottom: 20px;
  }
}
/* line 896, ../sass/dpstyles.scss */
.wrapper {
  margin: 0 auto;
  width: 80%;
  clear: both;
}
@media screen and (min-width: 320px) and (max-width: 940px) {
  /* line 896, ../sass/dpstyles.scss */
  .wrapper {
    width: 95%;
  }
}

/* line 906, ../sass/dpstyles.scss */
.clearfix:after {
  content: '';
  clear: both;
  display: table;
  visibility: hidden;
}
