/* RESET */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	height: 100%;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CLEARFIX */

.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}

/* SASS VARIABLES */

$red: rgb(227,31,45);
$darkred: adjust-lightness($red,-8);
$lightgrey: rgb(222,222,222);
$darkgrey: rgb(88,89,91);
$aqua: rgb(65,195,190);
$darkaqua: adjust-lightness($aqua,-8);
$lightgreen: rgb(163,199,80);
$green: adjust-lightness($lightgreen,-8);
$darkgreen: adjust-lightness($green,-8);
$pink: rgb(236,0,140);
$lightblue: rgb(48,74,148);
$blue: adjust-lightness($lightblue,-8);
$darkblue: adjust-lightness($blue,-8);
$white: #FEFEFA;

/* GENERAL STYLES */

a{
	text-decoration: none;
	outline: none;
}

h1 {
	font-size: 3.4375em;
	font-family: "Intro Bold", sans-serif;
	font-weight: normal;
	color: $white; }

h1.tagline {
	position: absolute;
	top: 47%;
	width: 100%;
	text-align: center;
	letter-spacing: .0625em;
	text-shadow: 0 4px 11px black;
}

h1 span{
	color: $red;
}

h2 {
	font-size: 3.4375em;
	font-family: "Intro Book", sans-serif;
	font-weight: normal;
	line-height: 1.375em;
	margin-bottom: 50px; }

h3 {
	font-size: 1.375em;
	font-family: "Intro Bold", sans-serif;
	font-weight: normal;
	letter-spacing: .0625em;
	line-height: 1.5em; }

h4 {
	font-size: 1.125em;
	font-family: "ITC Franklin Gothic Std";
	font-weight: normal; }

h5 {
	font-size: 1em;
	font-family: "ITC Franklin Gothic Std";
	font-weight: normal;
	line-height: 1.5em; 
}

h6 {
	font-size: 1em;
	font-family: "Intro Bold", sans-serif;
	font-weight: normal;
	line-height: 1.5em; }

.bodycopy{
	font-size: 1.5em;
	font-family: "Intro Book", sans-serif;
	font-weight: normal;
	letter-spacing: .0625em;
	line-height: 1.875em;
}

.subcopy {
	font-size: .9375em;
	font-family: Verdana, sans-serif;
	font-weight: normal;
	line-height: 1.5em;
	margin-bottom: 1.5em; }

.subcopy:last-of-type{
	margin-bottom: 0px;
}

.formcopy {
	font-size: .875em;
	font-family: "Intro Light", sans-serif;
	font-weight: normal; }

.right {
	float: right;
}

/* large color section styles */

.box{
	padding: 80px 0;
}


/* SPECIFIC STYLES */

body{
}

.container{
	margin: 0 auto;
}

/* z-index container for revealing footer */

.zindexContainer{
	background: url('../images/debut_light.png') repeat 0 0;
	margin-bottom: 90px;
    position: relative;
    z-index: 3;
}

.whiteBox{
	background: $white;
	padding: 20px;
	color: $darkgrey;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.about .whiteBox{
	box-shadow: 5px 5px 0px $darkaqua;
}

.reviews .whiteBox{
	box-shadow: 5px 5px 0px $darkgreen;
}

.news .whiteBox{
	box-shadow: 5px 5px 0px $green;
}

.show{
	display: none;
}

/* slideshow styles */

#slideshow{
	position: relative;
  	height: 600px; /* arbritary height to give form!!!! */
	width: 100%;
	overflow: hidden;
}

#slideshow > div{
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.flexslider .slides > li{
	background-size: cover;
	background-position: center center;
	height: 100%;
}

/* navigation styles */

header{
	position: relative;
	background-color: $white;
	width: 100%;
	z-index: 100;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

nav{
	position: relative;
	background-color: $white;
	padding: .5em;
	box-shadow: 0em 9px 5px 1px rgba(0,0,0,0.1);



	h1.dp_logo{
		text-indent: -9999px;
		margin: 10px 0;
		background: url('../images/logo.png') 0 0 no-repeat;
		float: left;
		height: 50px;
		width: 236px;
/*		REMOVE COLOR WHEN BG IMAGE IS IMPLEMENTED!!!... WILL DEFAULT TO WHITE

*/
	}
	ul{
		float: right;
		padding: 1.6em 0 0 0;
		li {
			display: inline-block;
		}

		a {
			padding: 1em;
			color: $red;
		}
	}
}

.stuck{
	position: fixed;
	left: 0;
	top: 0;
}


/* introduction section styles */

.introduction{
	background: url('../images/redPattern.png') 628px 51px no-repeat $red;
	color: $white;
}

.introduction h2{
	margin-bottom: 20px;
}

/* wholesale flavors section styles */

.wholesaleDetails{
	color: $red;
	padding-top: 30px;
}

.wholesaleButton{
	display: block;
	background: $lightgrey;
	text-align: center;
	padding: 15px 10px 10px 10px;
	color: $white;
	margin: 19px auto;
	width: 80%;
}

.pieIcon{
 	width: 93px;
 	height: 93px;
 	margin: 0 auto 30px;
 	display: block;
}


.flavor_module{
	text-align: center;
	color: $darkgrey;
	min-height: 19em;
}

.flavor_module:nth-of-type(4){
	clear: left;
}

/* farmers market flavors section styles */

.marketFlavors{
	background: $lightgrey;
	color: $darkgrey;
}

/* about section styles */

.about{
	background: $aqua;
	color: $white;
}

.about h2{
	text-align:center;
}

.about .icon{
	display: block;
	height: 70px;
	text-align: center;
	cursor: pointer;
	margin-bottom: 5em;
}

/* green section styles */




/* news section styles */

.video{
	margin-bottom: 20px;
}

.video iframe{
	width: 100%;
	height: 320px;
}

.fb-like-box {
	height: 300px;
	border: 1px solid fuchsia;
}

.news{
	background: url('../images/greenPattern.png') -200px 74px no-repeat $lightgreen;
	color: $white;
}

.news h2 a{
	color: $white;
	text-decoration: underline;
}

.news article{
	color: $darkgrey;
	margin-bottom: 20px;
}

.news h6{
	text-transform: uppercase;
	color: $green;
}

.news .subcopy a{
	text-transform: uppercase;
	text-decoration: underline;
	color: $darkgrey;
}

/* reviews/praise section styles */

.reviews{
	background: $green;
	color: $white;
}

.reviews h2{
	text-align: center;
}

.reviews span{
	color: $green;
	font-family: "Intro Bold", sans-serif;
	font-size: 1.5em;
}

.reviews .subcopy{
	margin-bottom: 1.5em;
}

.author{
	color: $green;
}




/* find us section styles */

.findUs h2{
	text-align: center;
	margin-bottom: 0px;
	color: $pink;
}

.findUs h5{
	text-align: center;
	color: $darkgrey;
}


/* map styles */

.map{
	height: 500px;
}
	 
#map-canvas { height: 100% }


/* vendor logo links section styles */

.logoLinks{
	height: 44px;	
}

.wholeFoods{
	margin-right: 68px;
	height: 60px;
	width: 75px;
	display: block;
	float: right;
	text-align: left;
	background: url('../images/wholefoods2.png') 0 0 no-repeat;
	text-indent: -9999px;
}

.wholeFoods:hover{
	background-position: -75px 0;
}

.ashland{
	margin-right: 68px;
	height: 60px;
	width: 75px;
	display: block;
	float: right;
	text-align: left;
	background: url('../images/wholefoods2.png') 0 0 no-repeat;
	text-indent: -9999px;
}

.ashland:hover{

}

.logoLast{
	margin-right: 0;
}



/* farmers market information section styles */

.farmersMarket{
	background: $lightgrey;
	color: $darkgrey;
	position: relative;
}

.farmersMarket a{
	text-decoration: underline;
	color: $darkgrey;

}

.marketPhoto{
	background: url('../images/market_2.jpg') no-repeat right 0;
	width: 44%;
	position: absolute;
	left: 0;
	height: 100%;
	background-size: cover;
}

.marketRight{
	padding: 80px 0;
}

/* contact information section styles */

.contact{ 
	background: url('../images/redPattern.png') 590px 70px no-repeat $red;
	color: $white;
	clear: both;
}

/* form styles */

.contact form *{
	color: $white;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

form {
	font-size: .8125em;
	max-width: 425px;


	.form-top {
		position: relative;
		margin: 7px 0 16px 0;}

	input{
		background-color: $darkred;
		padding: 5px;
		width: 49%;
		font-family: Verdana, sans-serif;
		border: 1px solid $darkred;
		font-size: .9375em;
		-webkit-appearance: none;
		}
	textarea{
		background-color: $darkred;
		width: 100%;
		margin-top: 1px;
		min-height: 200px;
		font-family: Verdana, sans-serif;
		border: 1px solid $darkred;
		font-size: .9375em;
		padding: 5px;
		-webkit-appearance: none;
		}

	input[type=submit] , #contact form input[type=reset]{
		width: 88px;
		margin-top: 16px;
		-webkit-appearance: none;
}

	input[type=submit]:active , .contact form input[type=reset]:active {
		background: $lightgrey;
		color: $darkgrey;}
}

/* footer styles */

.footer{
	text-align: center;
	padding: 80px 0 30px 0;
	background: url('../images/debut_light.png') repeat 0 0;
	position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    color: $darkgrey;
}

.footer a{
	color: $darkgrey;
}


/*
	Layout
*/

//	Columns

$numColumns:12;
$gutterWidth:2%;

@for $column from 1 through $numColumns {
	.col-#{$column} {
		width: ( ( ( 100% ) / $numColumns ) * $column ) - $gutterWidth;
	}

	.push-#{$column} {
		margin-left: ( ( 100% ) / $numColumns ) * $column ;
	}
}

.column {
	margin: 0 ( $gutterWidth / 2 );
	float: left;
	@media screen and ( max-width: 480px ) {
		clear: both;
		width: auto;
		float: none;
	}

}

@media screen and (max-width : 480px) {

		.hide{
			display: none;
		}

		h2{
			text-align: left;
			font-size: 2em;
		}

		.introduction h2{
			margin-bottom: .6em;
		}

		h3{
	
			font-size: 1.2em;
		}

		h5{
			font-size: .9em;
		}

		.bodycopy{
			font-size: .9em;
		}

		.subcopy{
			font-size: .85em;
		}

		nav{
			text-align: center;
		}

		nav ul{
			float: none;
			padding: 20px 0 17px 0;
		}

		nav h6{
			font-size: 1em;
		}

		nav li{
			padding: 0 1%;
		}

		nav ul a{
			padding: 0;
		}

		.box{
			padding: 50px 0;
		}

		.pieIcon{
			float:left;
			margin-right: 20px;
			margin-bottom: 20px;
		}

		.flavor_module h6{
			padding-top: 12px;
			text-align: left;
		}

		.flavor_module{
			min-height: 0px;
		}

		.wholesaleButton{
			width: 92%;
		}

		.about h2{
			margin-bottom: 37px;
		}

		.about{
			text-align: center;
		}

		.about .icon{
			float: none;
			clear: none;
			height: 70px;
			display: inline-block;
			margin-bottom: 2em;
		}

		.about .subcopy{
			text-align: left;
		}

		.logoLinks{
			display: none;
		}

		.marketRight{
			padding: 50px 0;
		}

		.form{
			padding-bottom: 20px;
		}

		.footer{
			padding: 80px 10px 25px 10px;
		}

		.zindexContainer{
			margin-bottom: 110px;
		}

		.show{
			display: block;
			margin: 0 auto;
			background: $white;
			padding-top: 20px;
		}

		.show img{
			width: 100%;
		}

		
	}


	@media screen and (max-width : 600px) {

		.flexslider{
			display: none;
		}

		.dp_logo{
			display: none;
		}

		.show{
			display: block;
			margin: 0 auto;
			background: $white;
			padding-top: 20px;
		}

		.show img{
			width: 100%;
		}

		nav{
			text-align: center;
		}

		nav ul{
			float: none;
			padding: 20px 0 17px 0;
		}

		nav h6{
			font-size: 1em;
		}

		nav li{
			padding: 0 1%;
		}

		nav ul a{
			padding: 0;
		}
		
	}



	@media screen and (max-width : 700px) {
		nav{
			text-align: center;
		}

		nav ul{
			float: none;
	
		}

		nav li{
			padding: 0 1%;
		}

		nav ul a{
			padding: 0;
		}

		.flavor_module{
			clear: both;
			flavors: none;
			width: 75%;
			min-height: 0px;

		}

		.wholesaleFlavors .column{
			float: none;
			margin: 0 auto;
		}

		.contact .column{
			float: none;
			width: auto;
		}

		.form{
			padding-bottom: 20px;
		}

	
	}

	@media screen and (max-width : 820px) {

		.pieIcon{
			margin-top: 20px;
		}

		

		.footer{
			padding: 80px 10px 25px 10px;
		}

		.zindexContainer{
			margin-bottom: 110px;
		}
	}

	@media screen and (max-width: 940px) {

		.flavor_module .subcopy{
			text-align: left;
		}

		.pieIcon{
			margin-top: 20px;
		}

		.reviews article{
			float: none;
			clear: both;
			width: auto;
			margin-bottom: 20px;
		}
	}



.wrapper {
	margin: 0 auto;
	width: 80%;
	clear: both;

	@media screen and ( min-width: 320px ) and ( max-width: 940px ) {
		width: 95%;
	}
}

.clearfix:after {
	content: '';
	clear: both;
	display: table;
	visibility: hidden;
}

